<div class="container py-3">

  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: white">EMPLEADOS CIDENET MELOS</h1>
      <div class="d-flex">
        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success"> Añadir Empleado</button>
      </div>
    </div>
  </nav>

  <table class="table mt-1">
    <thead>
      <tr>
        <th scope="col">Identificacion Empleado</th>
        <th scope="col">Tipo de Identificacion</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Otros Nombres</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Pais de Empleo</th>
        <th scope="col">Fecha y Hora de Ingreso</th>
        <th scope="col">Area</th>
        <th scope="col">Estado (Activo / Inactivo)</th>
        <th scope="col">Fecha y Hora de Registro</th>
      </tr>
    </thead>
    <tbody *ngFor="let empleado of empleados">
      <tr>
        <td>{{empleado.id}}</td>
        <td>{{empleado.tipoId}}</td>
        <td>{{empleado.primerNombre}}</td>
        <td>{{empleado.otrosNombres}}</td>
        <td>{{empleado.primerApellido}}</td>
        <td>{{empleado.segundoApellido}}</td>
        <td>{{empleado.email}}</td>
        <td>{{empleado.pais}}</td>
        <td>{{empleado.fechaIngreso}}</td>
        <td>{{empleado.area}}</td>
        <td>{{empleado.estado}}</td>
        <td>{{empleado.fechaRegistro}}</td>
        <td>
          <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-info" (click)="edit(empleado)">Editar</button>
          <button class="btn btn-danger mt-2" (click)="delete(empleado)">Eliminar</button>
        </td>
        
      </tr>
    </tbody>
  </table>

<!-- Modal -->

  <div class="modal fade needs-validation" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (ngSubmit)="create() " novalidate>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Datos Empleado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--inicia-->
  
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Identificacion</span>
            <input type="text" class="form-control" placeholder="Ingrese su Identificacion" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="empleado.id">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Tipo de Identificacion</label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="empleado.tipoId">
              <option selected>Choose...</option>
              <option value="Cedula de Ciudadania">Cedula de cuidadania</option>
              <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
              <option value="Pasaporte">Pasaporte</option>
              <option value="Permiso Especial">Permiso Especial</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Primer Nombre</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="empleado.primerNombre">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Otros Nombres</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="empleado.otrosNombres">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Primer Apellido</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="empleado.primerApellido">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Segundo Apellido</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="empleado.segundoApellido">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Pais del Empleo</label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="empleado.pais">
              <option selected>Choose...</option>
              <option value="Colombia">Colombia</option>
              <option value="Estados Unidos">Estados Unidos</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Area</label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="empleado.area">
              <option selected>Choose...</option>
              <option value="Administracion">Administracion</option>
              <option value="Financiera">Financiera</option>
              <option value="Compras">Compras</option>
              <option value="Infraestructura">Infraestructura</option>
              <option value="Operacion">Operacion</option>
              <option value="Talento Humano">Talento Humano</option>
              <option value="Servicios Varios">Servicios Varios</option>
            </select>
          </div>
          
          <!--termina-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" (click)="create()" class="btn-close" data-bs-dismiss="modal" class="btn btn-primary" >Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>